@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Inter";
  src: url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
}
@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}
.grid-effect {
  background-size: 40px 40px;
  background-image: linear-gradient(
      90deg,
      hsla(0, 0%, 95%, 0.55) 1px,
      transparent 0
    ),
    linear-gradient(180deg, hsla(0, 0%, 95%, 0.55) 1px, transparent 0);
}
:root {
  color-scheme: dark;
}
